body {
  color: aqua;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: rebeccapurple;
}

#header {
    text-align: center;
  background-color: #35343452;
  color: #fff;
  height: 70px;
  width: 50%;
  align-content: center;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  -webkit-box-shadow: -18px 15px 8px -10px rgba(176, 176, 176, 1);
  -moz-box-shadow: -18px 15px 8px -10px rgba(176, 176, 176, 1);
  box-shadow: -18px 15px 8px -10px rgba(176, 176, 176, 1);
}
